.specialContainer{
    font-family: var(--body-font);
    background-color: rgb(245, 245, 245);
    padding: 30px 0;
    margin-bottom: 40px;
}
.SpecialOffercontainer{
    width:80%;
    margin: auto;
}
.offerTitle{
    width:50%;
    margin: auto;
    text-align:center;
}